.App {
  text-align: center;
  
}
body {
  height: 96vh;
  padding: 0;
}
li {
  padding-bottom: 10px;
  text-align: left;
  padding-right: 30px;
}

.mainMenu {
  padding: 10px;
  text-align: center;
}
